@import url('../../../../assets/style/mixin');
@bgColor: #e9eaec;
#articlelist {
  overflow: scroll;
  .mx_wh(95%,98%);
  .mx_reltl(0,0);
  .mx_bdrs(10px);
  .mx_brbox;
  padding: 50px 5%;
  z-index: 888;
  background-color: #f5f7f9;
  box-shadow: 0 0 8px 8px #dddee1;
  .list {
    .mx_wh(100%,100%);
    ul {
      li {
        .mx_wh(100%,180px);
        .mx_bdrs(10px);
        background-color: @bgColor;
        margin-bottom: 10px;
        .mx_flex;
        .c {
          .mx_flex_mid;
        }
        .img_box {
          .mx_flex_item(1.5);
          position: relative;
          & > div {
            .mx_flex_mid;
            .mx_postl(50%,50%);
            .mx_bdrs(5px);
            .mx_wh(80%,160px);
            .mx_fc(16px,#fff);
            .mx_single_ellipsis;
            margin-left: -40%;
            margin-top: -80px;
            z-index: 1;
            background: rgba(0, 0, 0, 0.7);
            overflow: hidden;
            font-weight: 400;
          }
        }
        .contxt {
          .mx_flex_item(2);
          .mx_flex;
          span {
            .mx_flex_item(1);
            text-align: center;
            em,
            i {
              .mx_bdrs(5px);
              .mx_single_ellipsis;
              display: block;
              width: 60%;
              margin: 0 auto 5px;
              padding: 5px;
              background-color: #dddee1;
              color: #fff;
            }
            i {
              width: 100%;
            }
          }
        }
        .btn_box {
          .mx_flex_item(0.5);
          .mx_flex_mid;
          & > div {
            .mx_flex_item(1);
            & > span {
              display: block;
              margin: 5px auto;
              text-align: center;
              width: 60%;
            }
          }
        }
        img {
          .mx_bdrs(5px);
          .mx_wh(80%,160px);
        }
        &.title-box {
          .mx_hlh(40px,40px);
          .mx_bdrs(0);
          .mx_fc(15px,#80848f);
          font-weight: 400;
          margin-bottom: 3px;
          background-color: transparent;
        }
      }
    }
  }
}
